[submodule "almotos-front"]
	path = almotos-front
	url = https://github.com/PedroHRoseno/almotos-front.git
[submodule "vehicle-sales-manager-v2-kotlin"]
	path = vehicle-sales-manager-v2-kotlin
	url = https://github.com/PedroHRoseno/vehicle-sales-manager-v2-kotlin.git
